<% if signed_in? %>
	<h4 class="float-left form-heading">@<%= @user.username %> (<%= @user.name %>)</h4>
	<% unless @user == current_user %>
		<% if current_user.is_following?(@user) %>
			<%= link_to 'UnFollow', unfollow_path(:user_id=>@user.id), :class=>"btn btn-mini btn-danger float-right" %>
		<% else %>
			<%= link_to 'Follow', follow_path(:user_id=>@user.id), :class=>"btn btn-mini btn-success float-right" %>
		<% end %>
	<% end %>
	<div class="cl"></div>
<% else %>
	<h4 class="form-heading"><%= @user.name %></h4>
<% end %>
<h6 class="form-heading" style="margin-bottom:10px;">Recent Tweets</h6>

<div class="cl" style="border-top:1px solid #4b4b4b;margin-bottom:10px;"></div>

<% if @tweets.empty? %>
	This user has not started tweeting yet.
<% end %>

<% @tweets.each do |tweet| %>
  <div style="border-bottom:1px solid #c1c1c1;padding-bottom:20px;padding-top:10px;">
		<div class="float-left margin-right-5 width-5"><img src="http://si0.twimg.com/favicons/favicon.ico"/></div>
		<div class="float-left width-70" align="left" ><%= tweet.message %></div>
    <div class="float-right time-ago width-20" align="right"><%= time_ago_in_words(tweet.created_at) %> ago.</div>
		<% if @user == current_user %>
			<div class="cl-10"></div>
			<%= link_to 'Destroy', tweet, confirm: 'Are you sure?', method: :delete, :class=>"btn btn-mini btn-danger float-right" %>
			<%= link_to 'Edit', edit_tweet_path(tweet), :class=>"btn btn-mini float-right margin-right-5" %>
		<% else %>
			<% if current_user && current_user.can_retweet?(tweet) %>
				<%= link_to 'Retweet', retweet_path(:tweet_id => tweet.id), :class=>"btn btn-mini btn-primary float-right" %>
			<% end %>
		<% end %>
		<div class="cl"></div>
  </div>
<% end %>

<div class="cl-10"></div>

<%= link_to 'New Tweet', new_tweet_path, :class=>"float-right" %>

<div class="cl-10"></div>