<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
     <div class="navbar-inner">
       <div class="container">
         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
         <a class="brand" href="#">
         	<img src="/assets/logo.png" width="100" />
         </a>
         <div class="nav-collapse collapse pull-right">
           <ul class="nav">
             <li class="<%= @header_nav == "Home" ? "active" : "" %>"><%= link_to "Home", root_path %></li>
							<% if signed_in? %>
             		<li class="<%= @header_nav == "Tweets" ? "active" : "" %>"><%= link_to "@#{current_user.username}", user_tweets_path(:username=>current_user.username)  %></li>
             		<li class="<%= @header_nav == "Friends" ? "active" : "" %>"><%= link_to "My Friends", friends_path  %></li>
             		<li class="<%= @header_nav == "Followers" ? "active" : "" %>"><%= link_to "My Followers", followers_path  %></li>
             		<li class="<%= @header_nav == "Retweets" ? "active" : "" %>"><%= link_to "My Retweets", retweets_path  %></li>
             		<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
           		<% else %>
								<li class="<%= @header_nav == "Sign Up" ? "active" : "" %>"><%= link_to "Sign up", new_user_registration_path %></li>
								<li class="<%= @header_nav == "Sign In" ? "active" : "" %>"><%= link_to "Sign in", new_user_session_path %></li>
           		<% end %>
					</ul>
         </div><!--/.nav-collapse -->
       </div>
     </div>
   </div>
</header>
